@model BulbaClone.Models.Pokemon

@{
    ViewData["Title"] = "Details";
}



<h1>Details</h1>

<div class="tab">
    @foreach (var item in Model.Forms)
    {
        <button class="tablinks" onclick="openForm('@item.Id')">@(item.Name)</button>
    }
</div>

<div class="tab-content">
    @foreach (var item in Model.Forms)
    {
        <div id="form-@item.Id" class="tab-pane" style="display:none;">
            @await Html.PartialAsync("~/Views/Forms/Details.cshtml", item)
        </div>
    }
</div>

<div>
    <h4>Pokemon</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
    </dl>
</div>

<div>
    <h4>Selected Form: <span id="selectedFormId">None</span></h4>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function openForm(formId) {
        document.querySelectorAll('.tab-pane').forEach(pane => pane.style.display = 'none');
        document.getElementById('form-' + formId).style.display = 'block';
    }

    document.addEventListener('DOMContentLoaded', () => {
        let firstForm = document.querySelector('.tab-content .tab-pane');
        if (firstForm) firstForm.style.display = 'block';
    });
</script>
