@model BulbaClone.Models.Form

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/forms-details.css" />
</head>

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <div class="box" style="background-color: #E06BB4; padding: 5px; width: 25%;">
        <div class="box" style="background-color: #EEADD5; padding-top: 3px; padding-bottom: 3px; width: 97%; border-radius: 10px; display: flex; flex-direction: column; align-items: center;">
            <span style="display: block; color: #000000;">Type</span>
            <div class="box" style="background-color: #FFFFFF; padding: 1px; width: 100%; border-radius: 10px; margin-top: 4px; text-align: center;">
                @(Model.Type1.Name)
                @if (Model.Type2 is not null)
                {
                    @(Model.Type2.Name)
                }
            </div>
        </div>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.genderRatio)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.genderRatio == -1){
                <div>Gender Unknown</div>
            } else if (Model.genderRatio == 1){
                <div>female: 100%</div>
            } else if (Model.genderRatio == 0)
            {
                <div>male: 100%</div>
            } else
            {
                <div>female: @(Model.genderRatio * 100)%, male: @(100 - Model.genderRatio * 100)%</div>
            }
        </dd>


        <div class="box" style="border: 1px solid black; width: 25%;">

        <dl>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.hp)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.hp)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.atk)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.atk)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.def)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.def)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.spa)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.spa)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.spd)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.spd)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.spe)
            </dt>
            <dd class = "col-sm-2">
                @Html.DisplayFor(model => model.spe)
            </dd>
            </dl>
        </div>

    <dl>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ability0)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ability0)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ability1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ability1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hiddenAbility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hiddenAbility)
        </dd>


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.heightm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.heightm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.weightkg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.weightkg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eggGroup1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eggGroup1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eggGroup2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eggGroup2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrevoForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrevoForm.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.evoLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.evoLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.canGigantamax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.canGigantamax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.forme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.forme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.requiredItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.requiredItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.evoCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.evoCondition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.evoType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.evoType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.evoItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.evoItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.evoRegion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.evoRegion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.evoMove)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.evoMove)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
